In [3]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [4]:
a=10.1
name="Sid"
b=True

print(type(a))
print(type(name))
print(type(b))

<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
name=input("Enter name")
print("My name is",name)

Enter name Siddhant

My name is Siddhant

In [11]:
name=input("Enter name")
age=int(input("Enter age"))
print(type(name),type(age))

print("My name is",name,"and I am",age,"year old")

Enter name Siddhant
Enter age 22

<class 'str'> <class 'int'>
My name is Siddhant and I am 22 year old

In [13]:
a=10
b=20
print(f"Sum ={a+b}")

Sum =30

In [15]:
a=10
b=20
print(f"Sum ={a+b}")
print(f"Diff ={a-b}")
print(f"Mul ={a*b}")
print(f"Div ={a/b}")

Sum ={a+b}
Diff =-10
Mul =200
Div =0.5

In [19]:
#comparision

a=10
b=12
print(f"{a<b}")
print(f"{a>b}")
print(f"{a==b}")
print(f"{a!=b}")

True
False
False
True

In [23]:
a=True
b=False
print(f"{a} and {b} {a and b}")
print(f"{a} and {b} {a or b}")
print(f"{a} and {b} {not b}")

True and False False
True and False True
True and False True

In [28]:
sum=0
for i in range(1,11):
 sum+=i
print(sum)

55

In [60]:
#tuples

a= (2,3,"Sid",True,7,True)
count=0
for data in a:
    if(a.index(True)):
        count+1
    print(data)
    #print(type(data))
    
a.index(True)
#
a.index(7)

2
3
Sid
True
7
True

4

In [57]:
a=[]
b=list()
a.append(23)
a.append(23)
b.append(33)
b.append(23)

print(a)
print(type(a))
print(type(b))
print(b)
b.pop()
print(b)

[23, 23]
<class 'list'>
<class 'list'>
[33, 23]
[33]

In [59]:
a=[2,3,4,1]
a[3]=7
print(a)

[2, 3, 4, 7]

In [62]:
a=(1,2,3,4,5,6,7,8)
a[2]=10
print(a)

TypeError: 'tuple' object does not support item assignment

In [68]:
def sum(a,b):
    sum=a+b
    print("Sum is",sum)
a=int(input("Enter first number"))
b=int(input("Enter second number"))
sum(a,b)

Enter first number 20
Enter second number 19

Sum is 39

In [65]:
data={
    "id":23,
    "name":"Sid",
    "address":"BTM"
}
print(data["name"])

Sid

In [67]:
a=[4,23,5,34,12]
a.sort()
print(a)

[4, 5, 12, 23, 34]

In [69]:
x=[3,22,44,88,2,9]
x.sort(reverse=True)
print(x)

[88, 44, 22, 9, 3, 2]

In [80]:
def cal_bmi(weight,height):
    return (weight/((height/100)**2))
weight=int(input("Enter weight in Kg"))
height=int(input("Enter Height in cm"))

print(f"BMI is {cal_bmi(weight,height):.2f}")

Enter weight in Kg 60
Enter Height in cm 165

BMI is 22.04

In [100]:
def grade_check(a):
    if(a>100 or a<0):
        print("Invalid input")
    elif(a>=90):
        print("Grade A")
    elif(a>=80):
        print("Grade B")
    elif(a>=70):
        print("Grade C")
    elif(a>=60):
        print("Grade D")
    elif(a<60):
        print("Grade F")
   

marks=int(input("Enter your marks"))
grade_check(marks)

Enter your marks 100

Grade A

In [103]:
def calculate_area(radius):
    return 3.1415*radius**2

radius=int(input("Enter radius of a circle"))
print("Area of circle= ",calculate_area(radius))

Enter radius of a circle 7

Area of circle=  153.9335